<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta property="og:title" content="College Lutheran Church" />
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link href="//fonts.googleapis.com/css?family=PT Sans Caption" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body aurelia-app="main">
  <div class="splash">
    <div style="text-align:center;margin-top:2in;margin-bottom:.5in">
    <noscript>
   <strong>You need to enable JavaScript to run this app:</strong>
 </noscript>
</div>
    <div class="message" style="text-align:center">
      <%- htmlWebpackPlugin.options.metadata.title %>
    </div>
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</body>

</html>
